* {
  font-family: sans-serif;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  padding: 30px;
}

article {
  padding: 30px;
  background-color: white;
  border-radius: 20px;
}
img {
  border-radius: 20px;
}
h2 {
  text-transform: uppercase;
}
p {
  color: black;
}
.second {
  color: rgb(173, 173, 173);
  margin-bottom: 10px;
}
button {
  color: rgb(67, 138, 224);
  border: 0;
  background: none;
  padding: 0;
}
